---
layout: default
title: Blog
permalink: /blog/
---
<!--div class="blog_bg" >
	<div class="container">
	<div class="row">
		<div class="col-12 center">
			<div class="white-text">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
	</div>
	</div>
</div-->
{% include header.html %}
<main role="main">
	<div class="container blog_list">
	{% for post in site.posts %}
		<a href="{{ post.url }}" class="row">
			<div class="col-9">{{ post.title }}</div>
			<div class="col-3">{{ post.date | date: '%b %d %Y' }}</div>
		</a>
		<div class="row">
		        	<div class="col-12">
		         	 <div class="line-secondary"></div>
		        	</div>
		</div>
	{% endfor %}
	</div>
</main>