<footer role="contentinfo">
	<ul class="social-icons center">
		<li><a aria-label="Github" href="https://github.com/georgetn" target="_blank"><svg class="icon icon-github"><use xlink:href="#icon-github"></use><title>Github</title></svg></a></li>
		<li><a aria-label="Twitter" href="https://twitter.com/george_tweets" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a></li>
		<li><a aria-label="LinkedIn" href="https://www.linkedin.com/in/nguyengeorge" target="_blank"><svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg></a></li>
		<li><a aria-label="Codepen" href="https://www.codepen.com/" target="_blank"><svg class="icon icon-codepen"><use xlink:href="#icon-codepen"></use></svg></a></li>
		<li><a aria-label="Dribble" href="https://www.dribble.com/" target="_blank"><svg class="icon icon-dribble"><use xlink:href="#icon-dribble"></use></svg></a></li>
		<li><a aria-label="Behance" href="https://www.behance.com/" target="_blank"><svg class="icon icon-behance"><use xlink:href="#icon-behance"></use></svg></a></li>
		<li><a aria-label="SketchJournal" href="https://georgetn.com/sketchjournal" target="_blank"><svg class="icon icon-sketches"><use xlink:href="#icon-sketches"></use></svg></a></li>
		<li><a aria-label="Blog" href="https://georgetn.com/blog" target="_blank"><svg class="icon icon-blog"><use xlink:href="#icon-blog"></use></svg></a></li>
		<li><a aria-label="Lab" href="htttps://georgetn.com/lab" target="_blank"><svg class="icon icon-lab"><use xlink:href="#icon-lab"></use></svg></a></li>
		<li><a aria-label="Email" href="mailto:contact@georgetn.com?subject=Hello!&amp;body=Hi George, I checked out your portfolio and..."><svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg></a></li>
	</ul>

	<p>&copy; George Nguyen 2016. View the <a href="https://github.com/georgetn/georgetn.github.io/" target=_"blank">source code</a></p>

</footer>

