<footer role="contentinfo" class="footer-content">
	<div class="container">
		<div class="row">
			<div class="col-12 center">
				<div class="social-icons pad-top center">
					<a aria-label="Github" href="https://github.com/georgetn" target="_blank"><svg class="icon icon-github pulse"><use xlink:href="#icon-github"></use><title>Github</title></svg></a>
					<a aria-label="Twitter" href="https://twitter.com/george_tweets" target="_blank"><svg class="icon icon-twitter pulse"><use xlink:href="#icon-twitter"></use></svg></a>
					<a aria-label="LinkedIn" href="https://www.linkedin.com/in/nguyengeorge" target="_blank"><svg class="icon icon-linkedin pulse"><use xlink:href="#icon-linkedin"></use></svg></a>
					<!--<a aria-label="Codepen" href="https://www.codepen.com/" target="_blank"><svg class="icon icon-codepen pulse"><use xlink:href="#icon-codepen"></use></svg></a>
					<a aria-label="Dribbble" href="https://www.dribbble.com/" target="_blank"><svg class="icon icon-dribbble pulse"><use xlink:href="#icon-dribbble"></use></svg></a>
					<a aria-label="Behance" href="https://www.behance.com/" target="_blank"><svg class="icon icon-behance pulse"><use xlink:href="#icon-behance"></use></svg></a>-->
				</div>
			</div>
		</div>
		<div class ="row">
			<div class="col-12 center underline">
				<p>&copy; George Nguyen 2016. View the <a href="https://github.com/georgetn/georgetn.github.io/" target=_"blank">source code.</a></p>
			</div>
		</div>
</footer>