<header class="home_container">
	<div ="container">
		<div class="row">
			<div class="col-12 center">
				<div class="underline">
					<!--<img itemprop="image" id="img-self" class="img-circle" src="images/george-nguyen.jpg" alt="George Nguyen">-->
					<h1>George Nguyen's {{ page.title }}</h1>
					<p>Consulting as a UX Researcher and Front-end Developer. Currently, available for <a href="mailto:contact@georgetn.com">hire.</a></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-4 hidden-sm"></div>
		        	<div class="col-4">
				<div class="line-primary"></div>
		        	</div>
		        	<div class="col-4 hidden-sm"></div>
		</div>
	</div>
</header>
