---
layout: default
title: Ideas
permalink: /ideas/
---
{% include header.html %}
<main role="main">
	<div class="container blog_list">
	{% for post in site.posts %}
		{% if post.categories contains 'ideas' %}
			<a href="{{ post.url }}" class="row">
				<div class="col-9">{{ post.title }}</div>
				<div class="col-3">{{ post.date | date: '%b %d %Y' }}</div>
			</a>
			<div class="row">
			        	<div class="col-12">
			         	 <div class="line-secondary"></div>
			        	</div>
			</div>
		{% endif %}
	{% endfor %}
	</div>
</main>