<!DOCTYPE html>
<html>
	<head>
		<meta name="description" content="{{ site.description }}">
		<meta charset="UTF-8">
		<title> {% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>

		<!-- MOBILE SETTINGS -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="white" />

		<!-- link to the main stylesheet -->
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/simple-grid.min.css">
		<link rel="stylesheet" href="../css/main.css">

		<!-- favicon -->
		<link rel="shortcut icon" href="https://georgetn.github.io/images/favicon.ico" type="image/x-icon" />

		<!-- Google Authorship
		<link rel="author" href="insert your google profile URL here" />
		-->

		<!-- Analytics-->
		{% include analytics.html %}

		<!--Scripts-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	</head>
	<body>
		<!--Menu section-->
		<div class="button_container" id="toggle">
		  <span class="top"></span>
		  <span class="middle"></span>
		  <span class="bottom"></span>
		</div>

		<div class="overlay" id="overlay">
		  <nav class="overlay-menu">
		    <ul>
		      <li ><a href="/">Home</a></li>
		      <li><a href="/blog/">Blog</a></li>
		      <li><a href="/consulting/" >Consulting</a></li>
		      <li><a href="/contact/">Contact</a></li>
		    </ul>
		  </nav>
		</div>

		{% include svg-icons.html %}

		<section>
        		{{ content }}
		</section>

	</body>
		<!--Moar scripts-->
		<script src="https://georgetn.github.io/js/scripts.js"></script>
</html>